:root {
    --primary-color: #2C2C2C;
    --primary-color2: #313131;
    --second-color: #3DABAB;
    --font-color: rgba(242, 254, 255, 0.952);
}

.section{
    height: 500px;
    width: 100%;

    margin: 50px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
}
  
.section.ativo {
    opacity: 1;
    transform: translateY(0);
}

.title{
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
    width: 150px;
}



/* .title-animation{
    animation: appear 1s ease forwards;
} */

.section h2 {
    color: var(--font-color);
    margin-bottom: 8px; 
}

.section hr {
    border: 1px solid var(--second-color);
    width: 60px;
    margin: 0 auto;
}

@keyframes appear {
    0% {
      font-size: 5; /* Começa com tamanho de fonte 0 */
      opacity: 0; /* Começa totalmente transparente */
      transform: translateY(80%); /* Começa 100% abaixo de sua posição final */
    }
    100% {
      font-size: 18px; /* Tamanho final da fonte */
      opacity: 1; /* Opacidade total */
      transform: translateY(0); /* Termina na posição original */
    }
}