.card{
    height: 60px;
    width: 200px;
    margin: 10px;
    text-align: center;

    border: 3px solid var(--second-color);
    border-radius: 20px;

    
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    animation: transitionCards 3s forwards;
}

.card:hover{
    cursor: pointer;
    background-color: var(--second-color);
    color:var(--primary-color2);
    box-shadow: 4px 4px 10px 0.1px var(--second-color);
}

.hidden{
    display: none;
}

@keyframes transitionCards {
    

    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
