:root {
  --primary-color: #2C2C2C;
  --primary-color2: #313131;
  --second-color: #3DABAB;
  --font-color: rgba(242, 254, 255, 0.952);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--primary-color);
  color: var(--font-color);
  padding-top: 50px;
}