.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.projects li{
    padding: 10px 20px;
}

.projects > ul li:hover{
    cursor: pointer;
    color: var(--second-color);
}

.projects .cards{
    height: 230px;
    width: 700px;
    margin: 30px auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
